<!-- Search form -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- <div class="form-group">
  
    <div class="col-md-6">
        <div class="form-group row">
    <div class="col-md-2">
      <select class="form-control" [(ngModel)]="searchBy" id='searchTypeSelect' width=20%>
        <option value="title" selected>Search By</option>
        <option value='title'>Title</option>
        <option value='author'>Author</option>
      </select>
      </div>
      <div class="col-md-2">
        <input [(ngModel)]="searchString" (keyup)="getSearchedBooks(this.value)" class="form-control" type="text" placeholder="Search" aria-label="Search">
      </div> -->
  <div class="form-group">
      <div class="col-md-12">
          <div class="form-group row">
              <div class="col-md-2"></div>
              <div class="col-md-2">
                  <select class="form-control" (onchange)="getSearchedBooks(this.value)" [(ngModel)]="searchBy" id='searchTypeSelect'>
                      <!-- <option selected>Select</option> -->
                      <!-- <option disabled selected value> -- select an option -- </option> -->
                      <option selected id='selectTitle' value='title'>Title </option>
                      <option value='author'>Author</option>
                    </select>
              </div>
              <div class="col-md-6">
                  <input [(ngModel)]="searchString" (keyup)="getSearchedBooks(this.value)" class="form-control" type="text" placeholder="Search" aria-label="Search">
              </div>
              
              <div class="col-md-2"></div>
          </div>
      </div>
  </div>
<!-- </div>
</div> -->
<!-- </div> -->

<div class="bookListing">
    <mat-spinner class="loadingSpinner" id="loadSpin" ></mat-spinner>
      

    <mat-list>
        <app-book-list-item [book]="book" *ngFor="let book of bookList"></app-book-list-item>
        <!-- <mat-list-item class="list-itm" *ngFor="let book of bookList">
          <div class="book-list-item">
              <span matLine>
                 <font color="White" size="5">{{book.title}}</font> by <font color="brown" size="3">{{book.author_name[0]}}</font>
                 
                  <app-details-opener [book] = "book"></app-details-opener> 
                 <button class="detailsButton btn" (click)="openDialog()">Details</button>
              </span> 
                
          </div>
        </mat-list-item> -->
      </mat-list>
    
</div>