<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="jumbotron">
  <h1 class="display-4">Register with My Books</h1>
<form #registerForm="ngForm" (ngSubmit)="registerUser()" [style.fontSize.px]="20">
    <div>
      <!-- <div class="row">
        <h3 class="header">Register User</h3>
      </div> -->
      <div >
        <mat-form-field>
          <input class="login-input" id="firstName" matInput placeholder="First Name" [(ngModel)]="newUser.firstName" name="firstName">
        </mat-form-field>
        <mat-form-field>
          <input class="login-input" id="lastName" matInput placeholder="Last Name" [(ngModel)]="newUser.lastName" name="lastName">
        </mat-form-field>
        <mat-form-field>
          <input class="login-input" matInput id="userId" matInput placeholder="User Id" [(ngModel)]="newUser.userId" name="userId" required minlength="5"
           maxlength="10" #userId="ngModel">
        </mat-form-field>
        <mat-form-field>
          <input class="login-input" matInput id="password" matInput placeholder="Password" type="password" [(ngModel)]="newUser.password" name="password">
        </mat-form-field>
        <div class="row">
          <button class=btn-primary mat-raised-button color="primary" type="submit" (click)="registerUser()">Register</button>
        </div>
      </div>
    </div>
  </form>
  </div>