<img class="thumb-nail" src="{{bookDetails.thumbnail_url}}"/>
<span class="bookTitle">
   Title : {{bookDetails.details.title}}
</span>
<span class="bookAuthor">
    Author : {{bookDetails.details.authors[0].name}}
</span>
<hr>
<p>{{bookDetails.details.subjects}}</p>
<div class="bookPublisher">
    First Published in : {{bookDetails.details.publish_date}}
</div>
<br>
<div class="bookPublisher">
    Published At : {{bookDetails.details.publish_places}}
</div>
<!-- <div class="bookPublisher">
    Genre : {{bookDetails.type}}
</div> -->
<div class="bookPublisher">
    Publisher : {{bookDetails.details.publishers}}
</div>
<div>
  <button class="closeBtn btn" (click)="closeDialog()">Close</button>
</div>