.closeBtn{
    display: block;
    float: right;
}

.bookTitle{
    font-size: 12;
    font-family: 'Times New Roman';
}

.bookAuthor{
    font-size: 9;
    font-family: 'Courier New', Courier, monospace;
    color: brown;
    display: block;
}

.mat-dialog-container{
    background-color: beige;
}

.thumb-nail{

    float: right;
    margin: 15px;
    height: 9em;

}